#video
{
    width: 100%;
    height: 500px;
    border: none;
}
.campus_lifeDiv
{
    border: 1px solid lightgray;
}
.campus_lifeDiv img
{
    width: 100%;
}
.campus_lifeDiv h5 ,.campus_lifeDiv p
{
    margin: 200px;
}